.card {
  width: 200px;
  margin: 10px;
  border-radius: 15px;
  background: white;
  padding: 10px;
}

.profile-img {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

